
.login-form form{
    width: 25rem;
    padding: 2rem;
    background-color: rgba(45, 44, 44, 0.92);
    color: white;
    margin: 2rem auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 120px;
}

label, input{
    display: block;
    margin-bottom: 1rem;
}

label{
    font-size: 1.2rem;
}

input, button{
    width: 100%;
    padding: 0.6rem;
}

.login-form form > button{
    margin-top: 2rem;
    border: none;
    background-color: blue;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}

.login-form form h1{
    text-align: center;
    margin-bottom: 1rem;
}

.click-sign{
   text-align: center;
   margin-bottom: 3rem;
}

.click-sign > a{
    text-decoration: none;
    color: red;
}
